<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CourseXcel</title>
</head>
<body>
    <form action="/login" method="POST">
        <label class="emailf">Your Email</label>
        <input type="text" id="email" name="email" placeholder="Enter Email"  />
        <label class="passwordf" >Password</label>
        <input type="password" id="password" name="password" placeholder="Enter Password" /><br>
        <input type="radio" id="Teacher" name="category" value="Teacher">
        <label for="Teacher">Teacher</label><br>
        <input type="radio" id="Student" name="category" value="Student"> 
        <label for="Student">Student</label><br>
        <button>Login</button>
    </form>

</body>
</html>