<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CourseXcel</title>
</head>
<body>
    <form action="/signup" method="POST">
        <label class="namef">Your Name</label>
        <input type="text" id="name" name="name" placeholder="Enter Name"  />
        <label class="emailf">Your Email</label>
        <input type="text" id="email" name="email" placeholder="Enter Email"  />
        <label class="password1f" >Password</label>
        <input type="password" id="password1" name="password1" placeholder="Enter Password" /><br>
        <label class="password2f" >Confirm Password</label>
        <input type="password" id="password2" name="password2" placeholder="Enter Password" />
        <br><input type="radio" id="Teacher" name="category" value="Teacher">
        <label for="Teacher">Teacher</label><br>
        <input type="radio" id="Student" name="category" value="Student"> 
        <label for="Student">Student</label><br>
        <label class="t_idf">Your t-id</label>
        <input type="text" id="t_id" name="t_id" placeholder="Enter t_id"  />
        <label class="s_idf">Your s-id</label>
        <input type="text" id="s_id" name="s_id" placeholder="Enter s_id"  />
        <label class="classidf">Your classid</label>
        <input type="text" id="classid" name="classid" placeholder="Enter classid"  />
        
        <button>Signup</button>
    </form>

</body>